.header {
  height: 150px;
  width: 100%;
  border-bottom: black solid 2px;
  box-shadow: -6px 4px 15px 10px;
}
.header__nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}
.header .nav__ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: end;
}
.header .ul__li {
  margin: 1em;
  padding: 0.5em;
  list-style: none;
  font-size: 20px;
  position: relative;
}
.header .ul__li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: white;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
.header a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: white;
}
.header a:link {
  color: white;
}
.header a:visited {
  border-bottom: 1px solid;
}
.header a:active {
  color: #CDFEAA;
}
.header .ul__li a:hover::before {
  transform: scaleX(1);
}
.header .nav__img {
  width: 180px;
  height: 160px;
}
.header h1 {
  font-family: AirAm;
  font-size: 50px;
  text-align: center;
}

.pie {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 1fr;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 10%;
  padding-top: 15%;
}
.pie__redes {
  text-align: center;
}
.pie__redes a {
  text-decoration: none;
  color: white;
}
.pie__redes a:link {
  text-decoration: none;
}
.pie__redes a:active {
  text-decoration: none;
}
.pie__redes a:visited {
  text-decoration: none;
}
.pie__redes .redesB {
  outline: none;
  text-decoration: none;
  margin: 0 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 100%;
  transition: all 0.5 ease;
}
.pie__redes .fb:hover {
  border: 5px solid #1877f2;
  box-shadow: 0 0 15px #1877f2;
  transition: all 0.5s ease;
  transform: scale(1.6);
}
.pie__redes .wp:hover {
  border: 5px solid #25D366;
  box-shadow: 0 0 15px #25D366;
  transition: all 0.5s ease;
  transform: scale(1.6);
}
.pie__redes .ig:hover {
  border: 5px solid purple;
  box-shadow: 0 0 15px purple;
  transition: all 0.5s ease;
  transform: scale(1.6);
}
.pie__redes .yt:hover {
  border: 5px solid red;
  box-shadow: 0 0 15px red;
  transition: all 0.5s ease;
  transform: scale(1.6);
}
.pie__texto {
  font-size: 20px;
  color: white;
  flex-flow: wrap;
  text-align: center;
}

main {
  width: 100%;
  height: 900px;
  z-index: 5;
}
main .section__img {
  width: 100%;
  height: 800px;
}
main .section__img1 {
  width: 100%;
  height: 800px;
}
main .section__grid {
  margin: 0px 10px 0px 10px;
  height: 600px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 1fr 20%;
  justify-content: space-between;
  align-items: center;
  grid-template-areas: "titulo1 titulo2 titulo3" "image1 image2 image3" "des1 des2 des3";
}
main h2 {
  text-align: center;
  margin-top: 20px;
}
main .h2__1 {
  grid-area: titulo1;
}
main .h2__2 {
  grid-area: titulo2;
}
main .h2__3 {
  grid-area: titulo3;
}
main .img__B1 {
  grid-area: image1;
  text-align: center;
  align-content: start;
}
main .img__B2 {
  grid-area: image2;
  text-align: center;
  align-content: start;
}
main .img__B3 {
  grid-area: image3;
  text-align: center;
  align-content: start;
}
main img:not(.section__img1) {
  border-radius: 25px 25px 25px 25px;
  border: solid 3px black;
  box-shadow: 10px 10px 10px 10px;
  width: 70%;
  height: 100%;
}
main img:not(.section__img1):hover {
  transform: scale(1.2);
  transition: 0.7s;
}
main .p {
  color: white;
}
main .p__1 {
  grid-area: des1;
  text-align: center;
  font-size: 20px;
}
main .p__2 {
  grid-area: des2;
  text-align: center;
  font-size: 20px;
}
main .p__3 {
  grid-area: des3;
  text-align: center;
  font-size: 20px;
}
main .linkArtistas {
  height: 180px;
  width: 200px;
  text-align: center;
  margin-left: 45%;
}
main .linkArtistas a:link, main .linkArtistas a:visited, main .linkArtistas a:active {
  text-decoration: none;
}
main .linkArtistas h3 {
  margin: 20px;
  font-size: 25px;
  color: white;
  box-shadow: 2px 2px 5px 5px black;
}
main .linkArtistas h3:hover {
  transition: 0.7s;
  transform: scale(1.2);
  background-color: darkblue;
}

.artista {
  height: 1400px;
  width: 98%;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
.artista__1 {
  height: 30%;
  width: 98%;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 25px 25px 25px 25px;
  box-shadow: black 3px 3px 7px 7px;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 30% 1fr;
  justify-content: space-between;
  align-items: center;
  grid-template-areas: "imgart1 titart1" "imgart1 textoart1";
}
.artista__1 .art__img1 {
  grid-area: imgart1;
  height: 90%;
}
.artista__1 .art__img1Style {
  width: 90%;
  height: 100%;
  margin-left: 10px;
  border-radius: 25px 25px 25px 25px;
  transition: 0.7s;
}
.artista__1 .art__img1Style:hover {
  transform: scale(1.1);
  box-shadow: black 3px 3px 7px 7px;
}
.artista__1 .art__titulo1 {
  grid-area: titart1;
  text-align: center;
}
.artista__1 .art__texto1 {
  grid-area: textoart1;
  text-align: center;
}
.artista__2 {
  height: 30%;
  width: 98%;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 25px 25px 25px 25px;
  box-shadow: black 3px 3px 7px 7px;
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-rows: 20% 1fr;
  justify-content: space-between;
  align-items: center;
  grid-template-areas: "titart2 imgart2" "textoart2 imgart2";
}
.artista__2 .art__img2 {
  grid-area: imgart2;
  height: 90%;
}
.artista__2 .art__img2Style {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  border-radius: 25px 25px 25px 25px;
  transition: 0.7s;
}
.artista__2 .art__img2Style:hover {
  transform: scale(1.1);
  box-shadow: black 3px 3px 7px 7px;
}
.artista__2 .art__titulo2 {
  grid-area: titart2;
  text-align: center;
}
.artista__2 .art__texto2 {
  grid-area: textoart2;
  text-align: center;
  margin-left: 10px;
}
.artista__3 {
  height: 30%;
  width: 98%;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 25px 25px 25px 25px;
  box-shadow: black 3px 3px 7px 7px;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 30% 1fr;
  justify-content: space-between;
  align-items: center;
  grid-template-areas: "imgart3 titart3" "imgart3 textoart3";
}
.artista__3 .art__img3 {
  grid-area: imgart3;
  height: 90%;
}
.artista__3 .art__img3Style {
  width: 80%;
  height: 100%;
  margin-left: 10px;
  border-radius: 25px 25px 25px 25px;
  transition: 0.7s;
}
.artista__3 .art__img3Style:hover {
  transform: scale(1.1);
  box-shadow: black 3px 3px 7px 7px;
}
.artista__3 .art__titulo3 {
  grid-area: titart3;
  text-align: center;
}
.artista__3 .art__texto3 {
  grid-area: textoart3;
  text-align: center;
}
.artista h4 {
  color: white;
  font-weight: bold;
}
.artista .art__textoStyle {
  color: white;
}

.us {
  background-color: rgba(128, 128, 128, 0.4);
  width: 90%;
  height: 670px;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 2%;
  border-radius: 25px 25px 25px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 1fr;
  justify-content: space-evenly;
  align-items: center;
  grid-template-areas: "titulo imagen" "texto imagen";
}
.us__titulo {
  grid-area: titulo;
  text-align: center;
  width: 50%;
  height: 90%;
  margin-left: 20%;
}
.us__titulo .us__h5 {
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.us__texto {
  grid-area: texto;
  text-align: center;
  height: 80%;
  overflow: hidden;
  width: 50%;
  margin-left: 10%;
  margin-left: 20%;
}
.us__texto .us__p1 {
  font-size: 100%;
  color: white;
}
.us__img {
  grid-area: imagen;
  text-align: center;
  width: 100%;
  height: 90%;
}
.us__img .us__imgStyle {
  height: 90%;
  width: 90%;
  border-radius: 25px 25px 25px 25px;
  transition: 0.7s;
}
.us__img .us__imgStyle:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 10px 10px rgba(255, 255, 255, 0.4);
}

.non {
  display: none;
}

.divh7 {
  text-align: center;
  padding-top: 20px;
}

.h7 {
  font-size: 30px;
  color: white;
}

.section__lugares {
  width: 95%;
  height: 2200px;
}
.section__lugares .lugares__1 {
  height: 35%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
.section__lugares .lugares__1imgStyle {
  height: 90%;
  width: 95%;
  border-radius: 25px 25px 25px 25px;
  transition: 0.7s;
}
.section__lugares .lugares__1img :hover {
  transform: scale(1.5);
}
.section__lugares .lugares__1titulo h6 {
  font-size: 30px;
  color: white;
}
.section__lugares .lugares__1texto {
  width: 50%;
}
.section__lugares .lugares__1textoStyle {
  color: white;
  font-size: 15px;
  text-align: center;
}
.section__lugares .lugares__2 {
  height: 30%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
.section__lugares .lugares__2imgStyle {
  height: 90%;
  width: 95%;
  border-radius: 25px 25px 25px 25px;
  transition: 0.7s;
}
.section__lugares .lugares__2img :hover {
  transform: scale(1.5);
}
.section__lugares .lugares__2titulo h6 {
  font-size: 30px;
  color: white;
}
.section__lugares .lugares__2texto {
  width: 50%;
}
.section__lugares .lugares__2textoStyle {
  color: white;
  font-size: 15px;
  text-align: center;
}
.section__lugares .lugares__3 {
  height: 35%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
.section__lugares .lugares__3imgStyle {
  height: 90%;
  width: 95%;
  border-radius: 25px 25px 25px 25px;
  transition: 0.7s;
}
.section__lugares .lugares__3img :hover {
  transform: scale(1.5);
}
.section__lugares .lugares__3titulo h6 {
  font-size: 30px;
  color: white;
}
.section__lugares .lugares__3texto {
  width: 50%;
}
.section__lugares .lugares__3textoStyle {
  color: white;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.contacto {
  background-color: rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  width: 100%;
  margin-left: 25%;
  margin-top: 5%;
  grid-template-areas: "form texto" "form info";
}
.contacto form {
  height: 50%;
  grid-area: form;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.contacto form input {
  width: 300px;
  height: 30px;
  border: none;
  border-bottom: black solid 1px;
}
.contacto form textarea {
  width: 350px;
  height: 60px;
}
.contacto form button {
  border-radius: 25%;
  width: 80px;
}
.contacto__info {
  border-left: solid 1px black;
  grid-area: info;
  height: 100%;
}
.contacto__info ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contacto__info ul a {
  text-decoration: none;
  color: white;
}
.contacto__info ul a:link {
  text-decoration: none;
}
.contacto__info ul a:active {
  text-decoration: none;
}
.contacto__info ul a:visited {
  text-decoration: none;
}
.contacto__info ul .redesC {
  width: 100px;
  height: 80px;
  padding: 15px;
  transition: 0.5s;
}
.contacto__info ul .redesC:hover {
  transform: scale(1.3);
}
.contacto__texto {
  grid-area: texto;
  border-left: solid 1px black;
  height: 100%;
  margin-top: 50px;
  word-wrap: break-word;
}
.contacto__texto .p__contacto {
  font-size: 15px;
  color: white;
  word-wrap: break-word;
}

@media (min-width: 420px) and (max-width: 1268px) {
  header a {
    font-size: 15px;
  }
  header .nav__ul {
    height: 100px;
    width: 50%;
    padding: 1px;
    margin-top: -60px;
    margin-right: 40px;
  }
  header .nav__ul .ul__li {
    height: 35px;
    width: 50px;
    padding: 1px;
    margin: 10;
  }
  header .header__nav .nav__img {
    width: 100px;
    height: 100px;
  }
  header .header__nav .nav__tit h1 {
    display: none;
  }
  header .header__nav .nav__tit .aStyle {
    font-size: 10px;
  }
  main {
    height: 1600px;
  }
  main .section__img {
    width: 100%;
  }
  main p {
    font-size: 16px;
  }
  .linkArtistas {
    margin-left: 39%;
    margin-top: 30%;
  }
}
.pie {
  height: 200px;
  width: 90%;
  padding-top: 5%;
  text-align: center;
}

.contacto {
  height: 900px;
  width: 80%;
  margin-left: 10%;
  margin-right: 18%;
  margin-top: 30px;
}
.contacto form {
  height: 900px;
}
.contacto form input {
  width: 40%;
}
.contacto form textarea {
  width: 40%;
}
.contacto form button {
  width: 15%;
}

.non {
  display: block;
}

@media (max-width: 420px) {
  header a {
    font-size: 15px;
  }
  header .nav__ul {
    height: 100px;
    width: 200px;
    padding: 1px;
    margin-top: -60px;
    margin-right: 40px;
  }
  header .nav__ul .ul__li {
    height: 35px;
    width: 50px;
    padding: 1px;
    margin: 10;
  }
  header .header__nav .nav__img {
    width: 100px;
    height: 100px;
  }
  header .header__nav .nav__tit h1 {
    display: none;
  }
  header .header__nav .nav__tit .aStyle {
    font-size: 10px;
  }
  main {
    height: 3200px;
  }
  main .section__img {
    width: 100%;
  }
  main .section__grid {
    height: 2000px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 1fr 10% 7% 1fr 10% 7% 1fr 10%;
    justify-content: center;
    align-items: center;
    grid-template-areas: "titulo1" "image1" "des1" "titulo2" "image2" "des2" "titulo3" "image3" "des3";
  }
  main .section__grid .img__B1 {
    width: 80%;
    height: 80%;
  }
  main .section__grid .img__B2 {
    width: 80%;
    height: 80%;
  }
  main .section__grid .img__B3 {
    width: 80%;
    height: 80%;
  }
  main .section__grid .img__bSstyle {
    height: 100%;
    width: 100%;
    margin-left: 12%;
  }
  main .linkArtistas {
    margin-left: 20%;
    margin-top: 30%;
    width: 50%;
  }
  .pie {
    height: 200px;
    width: 100%;
    text-align: center;
    position: static;
  }
  .artista {
    height: 2000px;
    margin-left: 0px;
  }
  .artista__1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10% 30%;
    justify-content: space-evenly;
    align-items: center;
    grid-template-areas: "imgart1" "titart1" "textoart1";
  }
  .artista__1 .art__img1Style {
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
  }
  .artista__1 .art__titulo1 {
    font-size: 0px;
  }
  .artista__1 h4 {
    font-size: 15px;
  }
  .artista__1 .art__texto1 {
    font-size: 13px;
  }
  .artista__2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10% 30%;
    justify-content: space-evenly;
    align-items: center;
    grid-template-areas: "imgart2" "titart2" "textoart2";
  }
  .artista__2 .art__img2Style {
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
  }
  .artista__2 .art__titulo2 {
    font-size: 0px;
  }
  .artista .art__texto2 {
    font-size: 13px;
  }
  .artista__3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10% 30%;
    justify-content: space-evenly;
    align-items: center;
    grid-template-areas: "imgart3" "titart3" "textoart3";
  }
  .artista__3 .art__img3Style {
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
  }
  .artista__3 .art__titulo3 {
    font-size: 0px;
  }
  .artista .art__texto3 {
    font-size: 13px;
  }
  .us {
    height: 1000px;
    width: 100%;
    margin-left: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 60% 1fr;
    justify-content: space-evenly;
    align-items: center;
    grid-template-areas: "titulo" "imagen" "texto";
  }
  .us__img .us__imgStyle {
    height: 500px;
    width: 90%;
  }
  .us__titulo .us__h5 {
    font-size: 20px;
  }
  .us__texto {
    height: 200px;
    width: 90%;
    margin-left: 25px;
  }
  .us__texto .us__p1 {
    font-size: 14px;
  }
  .h7 {
    font-size: 15px;
  }
  .contacto {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: "form" "texto";
    margin-left: 0px;
  }
  .contacto form {
    height: 450px;
  }
  .contacto__info {
    border: none;
    display: none;
  }
  .contacto__texto {
    border: none;
  }
  .non {
    display: block;
  }
}
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: AirAm;
  src: url(../fonts/AirAmerica-Regular.otf);
}
body {
  background-image: url("../images/image.png");
  background-repeat: repeat;
}

.fill {
  height: 150px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=main.css.map */
