.us{
    background-color: rgba(128, 128, 128,0.4);
    width: 90%;
    height: 670px;
    margin-left: 5%;
    margin-right:10%;
    margin-top:2%;
    border-radius:25px 25px 25px 25px;
    @include grid(1fr 1fr, 20% 1fr, space-evenly, center);
    grid-template-areas:
    "titulo imagen"
    "texto imagen";
    &__titulo{
        grid-area: titulo;
        text-align: center;
        width: 50%;
        height: 90%;
        margin-left:20%;
        .us__h5{
            font-size:50px;
            color: white;
            font-weight: bold;
        } 
    }
    &__texto{
        grid-area:texto;
        text-align: center;
        height: 80%;
        overflow: hidden;
        width: 50%;
        margin-left:10%;
        margin-left:20%;
        
        .us__p1{
            font-size: 100%;
            color: white;
        }
    }
    &__img{
        grid-area:imagen;
        text-align: center;
        width: 100%;
        height: 90%;
        .us__imgStyle{
            height: 90%;
            width: 90%;
            border-radius:25px 25px 25px 25px;
            transition: 0.7s;
            &:hover{
                transform: scale(1.1);
                box-shadow:5px 10px 10px 10px rgba(255,255,255,0.4);
            }
        }
        
    }
}
.non{
    display:none;
}