
.divh7{text-align: center;
padding-top:20px;}

.h7{
    font-size: 30px;
    color: white;
}
.section__lugares{
    width: 95%;
    height: 2200px;
    .lugares__1{
        height: 35%;
        width: 90%;
        margin-left: 5%;
        @include flex(column, wrap, space-evenly, center);
        &imgStyle{
            height: 90%;
            width: 95%;
        border-radius: 25px 25px 25px 25px;
        transition: 0.7s;
        
        
        }
        &img{:hover{transform:scale(1.5);}}

        &titulo{
            h6{
                font-size:30px;
                color: white;
            }
        }
        &texto{
            width: 50%;
            &Style{
                color: white;
                font-size: 15px;
                text-align: center;
            }
        }

    }

    .lugares__2{
        height: 30%;
        width: 90%;
        margin-left: 5%;
        @include flex(column, wrap, space-evenly, center);
        &imgStyle{
            height: 90%;
            width: 95%;
        border-radius: 25px 25px 25px 25px;
        transition: 0.7s;
        
        
        }
        &img{:hover{transform:scale(1.5);}}

        &titulo{
            h6{
                font-size:30px;
                color: white;
            }
        }
        &texto{
            width: 50%;
            &Style{
                color: white;
                font-size: 15px;
                text-align: center;
            }
        }

    }

    .lugares__3{
        height: 35%;
        width: 90%;
        margin-left: 5%;
        @include flex(column, wrap, space-evenly, center);
        &imgStyle{
            height: 90%;
            width: 95%;
        border-radius: 25px 25px 25px 25px;
        transition: 0.7s;
        
        
        }
        &img{:hover{transform:scale(1.5);}}

        &titulo{
            h6{
                font-size:30px;
                color: white;
            }
        }
        &texto{
            width: 50%;
            &Style{
                color: white;
                font-size: 15px;
                text-align: center;
                margin-bottom:10px;
            }
        }

    }
}
