@media (min-width:420px) and (max-width:1268px){

    
    //header//
    header{ 
        a{
            font-size:15px;
        }
        .nav__ul{
            height: 100px;
            width:50%;
            padding:1px;
            margin-top:-60px;
            margin-right:40px;
            .ul__li{
                height: 35px;
                width: 50px;
                padding: 1px;
                margin:10;
            }
        }   
        .header__nav{
            .nav__img{
                width: 100px;
                height: 100px;
            }
            .nav__tit{
                h1{
                display:none;
                }
                .aStyle{
                font-size:10px;
                 }
             }
        }
    }
    // bodyMain//
    main{
        height: 1600px;
        .section__img{
            width: 100%;
        }
        p{
            font-size:16px;
        }
        }
    .linkArtistas{
            margin-left:39%;
            margin-top:30%;
        }
    }

    //footer//
    .pie{
        height: 200px;
        width: 90%;
        padding-top:5%;
        text-align: center;
    }

 
    .contacto{
        height: 900px;
        width: 80%;
        margin-left:10%;
        margin-right: 18%;
        margin-top:30px;
        form{
            height: 900px;
            input{width:40%;}
            textarea{width: 40%;}
            button{width: 15%;}
        }
    
    }


    .non{display:block;}

    




@media (max-width:430px){

    
    //header//
    header{ 
        a{
            font-size:15px;
        }
        .nav__ul{
            height: 100px;
            width:200px;
            padding:1px;
            margin-top:-60px;
            margin-right:40px;
            .ul__li{
                height: 35px;
                width: 50px;
                padding: 1px;
                margin:10;
            }
        }   
        .header__nav{
            .nav__img{
                width: 100px;
                height: 100px;
            }
            .nav__tit{
                h1{
                display:none;
                }
                .aStyle{
                font-size:10px;
                 }
             }
        }
    }
    //bodyMain//
    main{
        height: 3200px;
        .section__img{
            width: 100%;
        }

        .section__grid{
        height: 2000px;
        padding-bottom:30px;
        @include grid(100%, 7% 1fr 10% 7% 1fr 10% 7% 1fr 10%, center, center);
        grid-template-areas:
        "titulo1"
        "image1"
        "des1"
        "titulo2"
        "image2"
        "des2"
        "titulo3"
        "image3"
        "des3";
        .img__B1{
            width: 80%;
            height: 80%;
        }
        .img__B2{
            width: 80%;
            height: 80%;
        }
        .img__B3{
            width: 80%;
            height: 80%;
        }
        .img__bSstyle{
            height: 100%;
            width: 100%;
            margin-left:12%;
        }
        
        
        }
        .linkArtistas{
            margin-left:20%;
            margin-top:30%;
            width: 50%;
        }
    }

    //footer//
    .pie{
        height: 200px;
        width: 100%;
        text-align: center;
        position:static;
    }

    //artistas//

    .artista{
        height: 2000px;
        margin-left:0px;
        &__1{
            // height: 600px;
            @include grid(1fr,1fr 10% 30%, space-evenly, center);
            grid-template-areas: 
            "imgart1"
            "titart1"
            "textoart1";
            .art__img1{
                &Style{
                    width: 90%;
                    margin-left:20px;
                    margin-top:10px;
                }
            }
            .art__titulo1{
                font-size:0px ;
            }
            h4{
                font-size: 15px;
            }
            .art__texto1{
                font-size: $pResponsive;
            }
        }
        &__2{
            // height: 600px;
            @include grid(1fr,1fr 10% 30%, space-evenly, center);
            grid-template-areas: 
            "imgart2"
            "titart2"
            "textoart2";
            .art__img2{
                &Style{
                    width: 90%;
                    margin-left:20px;
                    margin-top:10px;
                }
            }
            .art__titulo2{
                font-size:0px ;
            }
            }
            .art__texto2{
                font-size: $pResponsive;
        }
        &__3{
            // height: 600px;
            @include grid(1fr,1fr 10% 30%, space-evenly, center);
            grid-template-areas: 
            "imgart3"
            "titart3"
            "textoart3";
            .art__img3{
                
                &Style{
                    width: 90%;
                    margin-left:20px;
                    margin-top:10px;
                }
            }
            .art__titulo3{
                font-size:0px ;
            }

            }
            .art__texto3{
                font-size: $pResponsive;
        }
        
    }

    //us//
    .us{
        height: 1000px;
        width: 100%;
        margin-left:5px;
        @include grid(1fr,10% 60% 1fr, space-evenly, center);
        grid-template-areas: 
        "titulo"
        "imagen"
        "texto";
        &__img{
            .us__imgStyle{
                height: 500px;
                width: 90%;
            }
        }

        &__titulo{
            .us__h5{
                font-size: 20px;
            }
        }
        &__texto{
            height: 200px;
            width: 90%;
            margin-left:25px;
            .us__p1{
                font-size:14px;
            }
        }
    }
    //lugares//

    .h7{font-size:15px}


    .contacto{
        width: 100%;
        @include grid(1fr,1fr 1fr,space-between, center);
        grid-template-areas:
        "form"
        "texto";
        form{
            height: 450px;
        }
        margin-left:0px;
        &__info{
            border:none;
            display:none;
        }
        &__texto{
            border:none;
        }
    }

    .non{display:block;}

    
}